/* App.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  padding: 20px;
  text-align: left; /* Align the text to the left */
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Distribute space between items */
}

.app-logo {
  height: 5vmin;
  margin-right: 20px; /* Add margin to the right of the logo */
}

.main-content {
  display: flex;
  flex: 1;
}

.left-section
{
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f0f0f0;
}

.right-section {
  flex: 4;
  padding: 20px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Add more styling for ProductCard, Graph, and Table components as needed */
